fastapi==0.115.0
chromadb==0.5.12
langchain==0.3.3
langchain-community==0.3.2
langchain-chroma==0.1.4
langchain-huggingface==0.1.0
langchain-text-splitters==0.3.0
sentence-transformers==3.1.1
python-dotenv==1.0.1
langgraph==0.2.34
langchain-openai==0.2.2